/Service-A/target
/Service-B/target
/feign/target
/springcloudconfigclient/target
/springcloudservice1/target
/springcloudservice2/target
/springcloudconfigserver/target
/springcloudserver/target
/Service-Admin/target
/springcloudsleuth/target
/springcloudturbine/target
/springcloud-hystrix-ribbon/target
/springcloudzuul/target
